<h1>写真一覧</h1>
<div>
  <%= link_to "新しい写真を追加", new_photo_path %><br>
  <%= link_to "My Tweet Appと連携", OAUTH_AUTHORIZE_URL %>
</div>

<div class="photo-grid">
  <% @photos.each do |photo| %>
    <div class="photo-item">
      <div class="photo-container">
        <h2><%= photo.title %></h2>
        <%= image_tag photo.image, size: "300x300" %>
      </div>
    </div>
  <% end %>
</div>

