/* common */
.flash {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.flash.alert {
    color: indianred;
}

/* photos */
.photo-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .photo-item {
    width: 30%;
    margin-bottom: 20px;
  }